<a href="https://colab.research.google.com/github/codebuzer/Bioactivity-Prediction-App/blob/main/pysam_gene_wise_coverage_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
#!pip install pysam

In [52]:
#import pysam

# Open the BAM file
#bam_file = "/content/drive/MyDrive/gene wise coverage/IGIB113050041V.bam"
#bam = pysam.AlignmentFile(bam_file, "rb")

In [54]:
# Load the GTF file using pybedtools
#from pybedtools import BedTool
#genes = BedTool(gtf_file)

In [53]:
#import subprocess

#bam_file = "/content/drive/MyDrive/gene wise coverage/IGIB113050041V.bam"

# Create the index using samtools
#subprocess.run(["samtools", "index", bam_file])

In [15]:
#!apt-get install samtools

In [21]:
#result_df.to_csv('fetch_coverage.csv', index=False)

In [61]:
import subprocess
import pysam
from pybedtools import BedTool
import pandas as pd

def calculate_gene_coverage(bam_file, gtf_file):
    subprocess.run(["samtools", "index", bam_file])
    bam = pysam.AlignmentFile(bam_file, "rb")
    genes = BedTool(gtf_file)
    coverage_data = []
    for gene in genes:
        chrom = gene.chrom
        start = gene.start
        end = gene.end
        coverage = bam.count_coverage(chrom, start, end)
        gene_coverage = sum(coverage[0])
        gene_name = gene.name
        coverage_data.append((gene_name, gene_coverage))
    df = pd.DataFrame(coverage_data, columns=['Gene', 'Coverage'])
    bam.close()

    return df

In [35]:
bam_file = "/content/drive/MyDrive/gene wise coverage/IGIB113050041V.bam"
gtf_file = "/content/drive/MyDrive/gene wise coverage/Homo_sapiens.GRCh38.106.gtf"

result_df = calculate_gene_coverage(bam_file, gtf_file)

In [41]:
result_df.to_csv('count_coverage.csv')

In [40]:
result_df

                    Gene  Coverage
0                TNFRSF4        33
1                TNFRSF4        33
2                TNFRSF4         0
3                TNFRSF4         0
4                TNFRSF4         0
...                  ...       ...
3279400  ENST00000612315         0
3279401  ENST00000612315        17
3279402               U1       245
3279403               U1       245
3279404               U1       245

[3279405 rows x 2 columns]

In [37]:
#coverage = bam.count_coverage('2', 800, 9000)

In [38]:
#coverage

In [42]:
grouped_df = result_df.groupby('Gene')['Coverage'].sum().reset_index()

                 Gene  Coverage
0             5S_rRNA        96
1           5_8S_rRNA      3966
2                 7SK    786453
3                A1BG      1210
4            A1BG-AS1      1068
...               ...       ...
91784            ZZZ3     41427
91785    hsa-mir-1253        69
91786     hsa-mir-423         0
91787  hsa-mir-8069-1         0
91788         snoZ196         0

[91789 rows x 2 columns]

In [46]:
grouped_df[grouped_df['Gene'] == 'TNFRSF4']

          Gene  Coverage
88250  TNFRSF4       138

In [56]:
#grouped_df.to_csv('count_coverage_IGIB113050041V.csv')

In [154]:
grouped_df[grouped_df['Gene'] == 'TNFRSF4']

          Gene  Coverage
88250  TNFRSF4       138

In [59]:
grouped_df[grouped_df['Coverage'] == 0]

                 Gene  Coverage
34            AARS1P1         0
37           AARSD1P1         0
64           ABCB10P1         0
102           ABCF2P2         0
122           ABHD16B         0
...               ...       ...
91775            ZXDA         0
91779        ZYG11AP1         0
91786     hsa-mir-423         0
91787  hsa-mir-8069-1         0
91788         snoZ196         0

[29778 rows x 2 columns]

In [155]:
import subprocess
import pysam
import pandas as pd

def calculate_gene_coverage(bam_file, gtf_file):
    subprocess.run(["samtools", "index", bam_file])
    bam = pysam.AlignmentFile(bam_file, "rb")
    gene_annotations = pd.read_csv(gtf_file, sep='\t', comment='#', header=None, dtype={0: str})
    gene_annotations = gene_annotations[gene_annotations[2] == "gene"]
    coverage_data = []
    for _, gene in gene_annotations.iterrows():
        chrom = gene[0]
        start = gene[3]
        end = gene[4]
        coverage = bam.count_coverage(chrom, start, end)
        gene_coverage = sum(sum(position_coverage) for position_coverage in coverage)
        gene_name = gene[8].split(";")[0].split(" ")[1].replace('"', '')
        coverage_data.append((gene_name, gene_coverage))
    df = pd.DataFrame(coverage_data, columns=['Gene', 'Coverage'])

    bam.close()

    return df

bam_file = "/content/drive/MyDrive/gene wise coverage/IGIB113050041V.bam"
gtf_file = "/content/drive/MyDrive/gene wise coverage/Homo_sapiens.GRCh38.106.gtf"

result_df = calculate_gene_coverage(bam_file, gtf_file)

In [152]:
#gene[8].split(";")[0].split(" ")[2].replace('"', '')
#gene[8].split(";")[0].split(" ")[1].replace('"', '')

'ENSG00000275405'

In [156]:
result_df

                  Gene  Coverage
0      ENSG00000186827       301
1      ENSG00000186891        71
2      ENSG00000160072      9597
3      ENSG00000260179       582
4      ENSG00000234396      1700
...                ...       ...
61547  ENSG00000271254     17988
61548  ENSG00000275987         0
61549  ENSG00000268674       154
61550  ENSG00000277475       321
61551  ENSG00000275405       948

[61552 rows x 2 columns]

In [130]:
result_df[result_df['Gene'] == 'ensembl']
#result_df

          Gene  Coverage
2004   ensembl       164
2009   ensembl         0
2011   ensembl       158
2047   ensembl         0
2051   ensembl         0
...        ...       ...
61545  ensembl         0
61546  ensembl         0
61547  ensembl     17988
61549  ensembl       154
61550  ensembl       321

[672 rows x 2 columns]

In [67]:
gene_annotations = pd.read_csv(gtf_file, sep='\t', comment='#', header=None, dtype={0: str})

In [72]:
gene_annotations

,0,1,2,3,4,5,6,7,8
0,1,ensembl_havana,gene,1211340,1214153,.,-,.,"gene_id ""ENSG00000186827""; gene_version ""11""; ..."
1,1,ensembl_havana,transcript,1211340,1214153,.,-,.,"gene_id ""ENSG00000186827""; gene_version ""11""; ..."
2,1,ensembl_havana,exon,1213983,1214153,.,-,.,"gene_id ""ENSG00000186827""; gene_version ""11""; ..."
3,1,ensembl_havana,CDS,1213983,1214127,.,-,0,"gene_id ""ENSG00000186827""; gene_version ""11""; ..."
4,1,ensembl_havana,start_codon,1214125,1214127,.,-,0,"gene_id ""ENSG00000186827""; gene_version ""11""; ..."
...,...,...,...,...,...,...,...,...,...
3279400,KI270713.1,ensembl,five_prime_utr,32373,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3279401,KI270713.1,ensembl,three_prime_utr,31698,31841,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3279402,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."
3279403,KI270713.1,ensembl,transcript,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."
3279404,KI270713.1,ensembl,exon,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."

In [73]:
gene_annotations = gene_annotations[gene_annotations[2] == "gene"]

In [140]:
gene_annotations.head()

,0,1,2,3,4,5,6,7,8
0,1,ensembl_havana,gene,1211340,1214153,.,-,.,"gene_id ""ENSG00000186827""; gene_version ""11""; ..."
31,1,ensembl_havana,gene,1203508,1206592,.,-,.,"gene_id ""ENSG00000186891""; gene_version ""14""; ..."
84,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
191,1,havana,gene,1249777,1251334,.,-,.,"gene_id ""ENSG00000260179""; gene_version ""1""; g..."
194,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g..."

In [145]:
gene_annotations[8][194]

'gene_id "ENSG00000234396"; gene_version "3"; gene_source "havana"; gene_biotype "lncRNA";'

In [75]:
for _, gene in gene_annotations.iterrows():
  chrom = gene[0]
  start = gene[3]
  end = gene[4]

In [107]:
gene[0]

'KI270713.1'

In [88]:
coverage = bam.count_coverage(chrom, start, end)

In [106]:
import numpy as np
np.sum(coverage)

948

In [96]:
gene_coverage = sum(sum(position_coverage) for position_coverage in coverage)

In [97]:
gene_coverage

948

In [103]:
gene_name = gene[8].split(";")[0].split(" ")[1].replace('"', '')

In [123]:
gene[8].split(";")[2].split(" ")[2].replace('"', '')

'U1'

In [104]:
gene_name

'ENSG00000275405'

In [131]:
gene[8]

'gene_id "ENSG00000275405"; gene_version "1"; gene_name "U1"; gene_source "ensembl"; gene_biotype "snRNA";'